.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
.footer-info  {
    display: flex;
    justify-content: center;
  }
  
.footer-info-center {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
.footer-info__terms {
    text-align: center;
  }
  
.footer-seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
  }
